<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>社会主义好呀社会主义好</h1>
    <p><%-body%></p>
  </body>
</html>
