<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1>欢迎来到：<%= title %></h1>
    <form action="/movie/new" name="movie" method="post">
        <p><label for="doctor">doctor</label><input id="doctor" name="doctor" type="text"/></p>
        <p><label for="title">title</label><input id="title" name="title" type="text"/></p>
        <p><label for="language">language</label><input id="language" name="language" type="text"/></p>
        <p><label for="country">country</label><input id="country" name="country" type="text"/></p>
        <p><label for="summary">summary</label><input id="summary" name="summary" type="text"/></p>
        <p><label for="flash">flash</label><input id="flash" name="flash" type="text"/></p>
        <p><label for="poster">poster</label><input id="poster" name="poster" type="text"/></p>
        <p><label for="year">year</label><input id="year" name="year" type="text"/></p>
        <p><input type="submit" value="新增"/></p>
    </form>
</body>
</html>
